.App {
  text-align: center;
}
.main-table {
  padding: 1.5rem;
  font-size: 1rem;
}
.main-tab-th {
  padding: 1.2rem;
  border: 0.1rem solid black;
}
.table-head {
  
  padding: 0.8rem;
  border: 0.1rem solid black;
}

.table-heading{
  background-color: lightskyblue;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.sort-btn{
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1.3rem;
  margin: 0 1rem;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 0.8rem;
  font-weight: 500;
}

.dropdown-content p {
  color: black;

  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
	
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.true-value{
  color: green;
}

.false-value{
  color: red;
}

.clicked{
  color: blue;
}